---
BasedOnStyle: Google
FixNamespaceComments: true
ReflowComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AccessModifierOffset: '-2'
AlwaysBreakTemplateDeclarations: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AllowShortLoopsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
IncludeBlocks: Preserve
PointerAlignment: Left
SortIncludes: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'true'
ColumnLimit: 0
ContinuationIndentWidth: 2
BreakBeforeBraces: Custom
Cpp11BracedListStyle: 'false'
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
...
